# blacklist all
*
!*/
# whitelist
!cava/*
!Code/User/settings.json
!fastfetch/*

!fish/conf.d/*
!fish/functions/*
!fish/cachyos-config.fish
!fish/config.fish
!fish/fish_variables
!fish/fishy-theme.fish

!flameshot/*
!i3/*
!kitty/*
!picom/*
!quickshell/fishy/*
!rofi/*



!spicetify-comfy-color.ini
!starship.toml