* {
  foreground:           #c5bf99;
  foreground-blue:      #afc9d0;
  
  background:           #13181a;
  background-br:        #192022;

  selected:             #283236;
  comment:              #575f62;
  borders:              #7aa5b1;

  borders-outer: 13px;
  borders-inner: 8px;

}
